# Created by .ignore support plugin (hsz.mobi)
out/production
*.log.lck
*.log
.idea/artifacts/
.idea/dictionaries/
.idea/workspace.xml
arduino-software/
lib/
logs/
src/META-INF/
/out/artifacts/groundstation_software_jar/logs/
