.root{
    -fx-background-color:#282828;
    -fx-font-size: 15px;

}

.label{
    -fx-text-fill: #e8e8e8;
}

.choice-box .context-menu {
    -fx-background-color: #1e3272 ;
    -fx-mark-color: green ;
}

.choice-box {
   -fx-background-color: #1e3272
   ;
}

.button{
    -fx-background-color: #1e3272 ;
    -fx-text-fill: #e8e8e8;
    -fx-font-family: "Arial";
    -fx-background-radius: 1;
}

.text-field{
    -fx-background-color: #3c3c3c ;
    -fx-text-fill: #e8e8e8;
}

.context-menu {
  -fx-background-color: #282828;
  -fx-text-fill: #e8e8e8;
}

/*
        Table-View
*/
.table-view{
   -fx-background-color: #323232;
}

.table-view:focused{
    -fx-background-color: transparent;
}

.table-view .column-header-background{
    -fx-background-color: transparent;
}

.table-view .column-header-background .label{
    -fx-background-color: transparent;
    -fx-text-fill: #e8e8e8;
}

.table-view .column-header {
    -fx-background-color: #323232;
}

.table-view .table-cell{
    -fx-text-fill: #e8e8e8;
    -fx-background-color: #323232;
}

.table-row-cell:selected .table-cell {
    -fx-text-fill: #e8e8e8;
    -fx-background-color: #282828;
}

.table-view .filler{
    -fx-background-color: #323232;
}


/*
        Charts
*/
.chart-plot-background {
    -fx-background-color: #323232;
}

.chart-legend {
   -fx-background-color:  transparent;
   -fx-padding: 20px;
}

.chart-series-line {
    -fx-stroke-width: 2px;
    -fx-effect: null;
}

.default-color0.chart-series-line { -fx-stroke: #cf6a4c; }
.default-color1.chart-series-line { -fx-stroke: #7587a6; }
.default-color2.chart-series-line { -fx-stroke: #f9ee98; }

.default-color0.chart-line-symbol { -fx-background-color: #cf6a4c, white; }
.default-color1.chart-line-symbol { -fx-background-color: #7587a6, white; }
.default-color2.chart-line-symbol { -fx-background-color: #f9ee98, white; }

.chart-horizontal-grid-lines {
    -fx-stroke: #424242;
}
/*
        ListView
*/

.list-view .list-cell:even {
-fx-background-color: #323232;
}
.list-view .list-cell:odd {
-fx-background-color: #323232;

}

/*
        Split Pane
*/

.split-pane {
     -fx-background-color: transparent;
}
.split-pane-divider {
  -fx-padding: 0 ;
}

/*
        Check Box
*/
.check-box {
    -fx-text-fill: #e8e8e8;
}

.check-box .box {

-fx-background-color: #3c3c3c;
-fx-border-radius:1px;

}

.check-box:selected .mark {

-fx-background-color: white;

}

.check-box:selected .box {

-fx-background-color: #3c3c3c;
}

/*
Dialog Pane
*/
.dialog-pane {
    -fx-background-color: #282828;
    -fx-padding: 0;
}

.dialog-pane:header .header-panel {
  -fx-background-color: #282828;
}

/*
Text Area
*/

.text-area {
    -fx-font-size: 15;
    -fx-text-fill: #e8e8e8;
    -fx-display-caret:true;
}

.text-area .content {
    -fx-background-color: #282828;
}

.styled-text-area {
    -fx-font-size: 12;
    -fx-background-color: #282828;
}
#codeArea .text {
    -fx-fill: white;
}
#codeArea .highlight {
    -fx-fill: red;
    -fx-font-weight: bold;
}

/*Toolbar*/
.tool-bar {
    -fx-background-color: #282828;
    -fx-font-size: 12pt;
}

/*Vertical scroll bar*/
 .scroll-bar {
    -fx-background-radius: 0 2 2 0;
    -fx-background-color: #282828;
	-fx-font-size: 8px;
}

.scroll-bar .thumb{
    -fx-background-color: white;
	-fx-background-radius: 0.7em;
}
